* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: #000;
    color: #fff;
  }
  
  p {
    font-size: 3rem;
  }
  
  .js {
    color: yellow;
    text-shadow: 2px 2px 5px rgb(255, 25, 0);
  }
  
  .typed-text {
    color: #0bfbeffe;
    text-shadow: 2px 2px 5px rgb(149, 255, 0);
  }
  
  .cursor {
    background: #fecc41b5;
  }